@inherits LayoutComponentBase

<div class="w-100 h-100 d-flex justify-content-center">
    <div class="flex-grow-1" style="max-width: 800px;">
        <div class="card shadow mt-4 mx-1">
            @Body
        </div>
    </div>
</div>